@model SeoToolsMainApp.Api.GoogleSafeBrowser

<div class="card">
    <div class="card-header">
        <h3>Проверка на вирусы Google SafeBrowsing</h3>
    </div>
    <div class="card-block">
        <h4 style="color:@Model.ColorMessage">@Model.HaveViruses</h4>        
    </div>
</div>