@model SeoToolsMainApp.Api.SystemInformation

<div class="card">
    <div class="card-header">
        <h3>Информация о сервере</h3>
    </div>
    <div class="card-block">
        <h5>@{
            WriteLiteral(Model.InformationAboutServer);
        }</h5>
    </div>
</div>

