@model SeoToolsMainApp.Core.HttpProtocol

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CommonPage.cshtml";
}
<div class="jumbotron" align="center">
    @using (Html.BeginForm("Scan", "Home"))
    {
        <h3><label>Ссылка на сайт:</label></h3>
        @Html.TextBoxFor(x => x.Url, new { @class = "form-control", @placeholder = "Например: www.site.ru" })
        <input type="submit" class="btn btn-success" value="Отправить"/>
        @Html.AntiForgeryToken()
    }
</div>
