@model SeoToolsMainApp.Api.ScreenShoot

<ul class="list-group">
    <li class="list-group-item">Текст</li>
    <li class="list-group-item">Текст</li>
    <li class="list-group-item">Текст</li>
    <li class="list-group-item">Текст</li>
    @*<li class="list-group-item"><img src="@Model.MobileUrl" /></li>*@
</ul>